{% extends 'base.html.twig' %}


  

{% block body %}









<div class="container" >
<div class="jumbotron">
  <h2 class="display-3">Hello,to the municipality</h2>
  
  <hr class="my-4">
 <h4 >Discover the city where you are welcomed!</h4>
</div>
</div>
{% endblock %}